@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/**
 * Only fumadocs-ui needs explicit @source since node_modules is gitignored.
 * Tailwind CSS v4 auto-detects your project source files.
 *
 * @see https://fumadocs.vercel.app/docs/ui/theme
 */
@source '../../../node_modules/fumadocs-ui/dist/**/*.js';
